*{
  padding: 0;
  margin: 0;
  outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ol,ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    max-width: 960px;
   margin: 0 auto;
}
.clr{
    clear: both;
}

/*common css end*/
/*header part start*/
.header_cont{
    display: flex;
   
}

.header_part{
    height: 40px;
    background: #0872b9;
}
.header_text{
   flex-basis: 160px;
    text-align: left;
    line-height: 40px;
    
}
.header_text p{
  font-size: 14px;
    color: #e7e7e7; 
    font-weight: 400;
}
.header_icon{
   flex-basis: 800px;
    text-align: right;
}
.header_icon a{
    font-size: 14px;
    color: #e7e7e7;
    padding-left: 25px;
    line-height: 40px;
    transition: all linear .4s;
}
.header_icon a:hover{
    color: #353535;
}
/*header-part start*/
/*main-part start*/

.main_part{
    height: 80px;
}
.menu-cont{
    display: flex;
}
.logo{
    flex-basis: 100px;
}
.logo a{
    padding-top: 18px;
}

.main_menu{
    flex-basis: 860px;
    
}
.main_menu ul{
    display: flex;
    justify-content: flex-end;
}
.main_menu ul li a{
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    text-transform: capitalize;
    line-height: 80px;
    padding-left: 15px;
    transition: all linear .4s;
    text-align: right;
    
}
.main_menu ul li a:hover{
    color: #0872b9;
}
/*main-part end*/
/*banner-part start*/
.banner_part{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 0;
}
.banner_part:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_text{
    width: 465px;
    float: right;
    text-align: right;
    
}
.banner_text h2{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    padding-bottom: 8px;
    text-transform: uppercase;
    
}
.banner_text h1{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.banner_text p{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    padding-bottom: 30px;
    line-height: 24px;
}
.banner_text a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    border: 1px solid #fff;
    padding: 10px 15px;
    margin-left: 15px;
    transition: all linear .4s;
}
.banner_text a:hover{
    background: #0872b9;
    border-color:  #0872b9;
}
/*banner-part end*/

/*about-part start*/
.about-part{
    padding: 62px 0;
    text-align: center;
}

.about-head{
    display: inline-block;
    position: relative;
    
}

.about-head h2{
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
.about-head img{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;  
}
.about-inner{
    padding-top: 40px;
    display: flex;
}
.about-img{
    flex-basis: 380px;
  
}
.about-img img{
   width: 100%; 
}
.about-text{
    flex-basis: 550px;
    padding-left: 20px;
}
.about-text p{
    text-align: left;
    color: #5bc5f4;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    line-height: 24px;
    margin-top: 40px;
}
.about-text p span{
    display: block;
    padding-top: 35px;
}


/*about-part end*/
/*service-part start*/
.service-part{
    padding-bottom: 60px;
    text-align: center;
}

.service-inner{
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

.service-text{
    position: relative;
    flex-basis: 31.94%;
    background: #f1f1f1;
    padding: 55px 25px 22px;
    transition: all linear .4s;
    margin-right: 20px;
    box-sizing: border-box;
}
.service-text h4{
    color: #353535;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
.service-text p{
    color: #555555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    line-height: 24px;
    padding-top: 15px;
}

.service-text .service-icon{
    position: absolute;
    background: #f1f1f1;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    line-height: 69px;
    left: 50%;
    top: -37px;
    transform: translateX(-50%);
    border: 2px solid #fefefe;
    transition: all linear .4s;
}
.service-text .service-icon:after{
    position: absolute;
    content: '';
    width: 73px;
    height: 73px;
    top: -4px;
    left: -4px;;
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    transition: all linear .4s;
    
}
.service-text .service-icon:before{
    position: absolute;
    content: '';
    width: 76px;
    height: 76px;
    top: -8px;
    left: -8px;;
    border: 4px solid #ffffff;
    border-radius: 50%;
    
}
.service-text:hover .service-icon{
    background: #5bc5f4;
}

.service-text:hover .service-icon:after{
    border-color:  #5bc5f4;
}

.service-text:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.service-mar{
    margin-right: 0;
}


/*service-part end*/
/*portfolio-part start*/
.portfolio-part{
    padding-bottom: 60px;
    text-align: center;
}
.port-inner{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.port-main{
   flex-basis: 23.43%;
    margin-right: 20px;
    box-sizing: border-box;
}
.port-main .port-img1{
    margin-bottom: 20px;
    position: relative;
}
.port-mar{
    margin-right: 0;
}
.port-main .port-img1 img{
    width: 100%;
}
.port-main .port-img2 img{
    width: 100%;
}
.port-main .port-img1 .overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    transform: scale(0);
    transition: all linear .4s;
}
.port-main .port-img1 .overly a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
.port-main .port-img1 .overly a i{
    color: #fff;
    background: #5bc5f4;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}
.port-main .port-img1:hover .overly{
    transform: scale(1);
}
.port-main .port-img2 {
    position: relative;
}
.port-main .port-img2 .overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    transform: scale(0);
    transition: all linear .4s;
}
.port-main .port-img2 .overly a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
.port-main .port-img2 .overly a i{
    color: #fff;
    background: #5bc5f4;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}
.port-main .port-img2:hover .overly{
    transform: scale(1);
}




/*portfolio-part end*/
/*team-part start*/
.team-part{
    padding-bottom: 60px;
    text-align: center;
}
.team-inner{
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
}
.team-main{
    flex-basis: 23.43%;
    box-sizing: border-box;
    margin-right: 20px; 
}
.team-mar{
    margin-right: 0;
}

.team-img img{
    width: 100%;
}

.team-text{
    padding-top: 14px;
}

.team-text h4{
    color: #353535;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    transition: all linear .4s;
}

.team-text p{
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    padding-top: 7px;
}
 .team-img{
    position: relative;
    overflow: hidden;
    transition: all linear .4s; 
}
.team-img .overly{
    position: absolute;
    width: 80px;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.60);
    transform: translateX(80px);
    transition: all linear .4s;
    
}
.team-img .overly ul{
    padding-top: 35px;
}
.team-img .overly ul li a{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin-top: 15px;
    border: 1px solid #fff;
    transition: all linear .4s;
}
.team-img .overly ul li a:hover{
    background: #5bc5f4;
    border-color: #5bc5f4;
}
.team-main:hover .team-img .overly{
    transform: translateX(0);
}
.team-main:hover .team-text h4{
   color:  #5bc5f4;
}
.team-img:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}


/*team-part end*/
/*testimonial-part start*/
.testi-part{
    padding-bottom: 60px;
    text-align: center;
}
.testi-inner{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.testi-inner-main{
    flex-basis: 48.95%;
    margin-right: 20px;
}
.test-mar{
    margin-right: 0;
}
.testi-img{
   padding-bottom: 40px;
}
.testi-text{
    background: #f1f1f1;
    padding: 20px;
    position: relative; 
}
.testi-text h4{
    color: #353535;
    font-size: 16px;
    font-weight: 600;
   font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
.testi-text h3{
    color: #353535;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald',sans-serif;
    text-transform: capitalize;
    padding-top: 10px;
}
.testi-text p{
    color: #555555;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    line-height: 24px;
    padding-top: 15px;
}
.testi-text ul{
    display: flex;
    justify-content: center;
    
}
.testi-text ul li a{
    color: #5bc5f4;
    font-size: 16px;
    padding-top: 10px;
   
}
.testi-text ul li a i{
    padding-right: 5px;
}
.testi-text::after {
    position: absolute;
    content: "";
    border-bottom: 20px solid #f1f1f1;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
/*testimonial-part end*/
/*footer-part start*/

.footer-part{
    background: #353535;
    padding: 33px 0 16px;
}
.footer-main{
   display: flex;
    flex-wrap: wrap;
}
.footer-logo{
    flex-basis: 25%;
    margin-right: 45px;
}
.footer-contact{
    flex-basis: 25%;
    margin-right: 21px;
}
.footer-link{
    flex-basis: 15%;
    margin-right: 25px;
}
.footer-flicker{
    flex-basis: 25%;
}
.footer-logo a{
    padding-bottom: 30px;
}
.footer-logo p{
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    line-height: 24px;
}
.footer-logo p span{
    display: block;
    padding-top: 35px;
}
.footer-contact h4{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
   font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.footer-contact p{
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    line-height: 24px;
    padding-left: 42px;
    position: relative;
    margin-bottom: 18px;
}
.footer-contact p i{
    position: absolute;
    left: 0;
    top: 7px;
    width: 35px;
    height: 35px;
    background:  #5bc5f4;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}
.footer-link h4{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.footer-link ul{
    width: 50%;
    float: left;
    
}
 .footer-link ul li a{
    line-height: 36px;
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans',sans-serif;
    transition: all linear .4s;
 
}
.footer-link ul li a:hover{
    color: darkturquoise;
}

.footer-flicker h4{
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.footer-flicker ul li{
    float: left;
    width: 33.33%;
    padding-bottom: 15px;
    box-sizing: border-box;
    padding-right: 15px;
}
.footer-flicker ul li img{
    width: 100%;
}



.footer-bottom{
    background: #555555;
    height: 45px;
    text-align: center;
}
.footer-bottom p{
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open sans',sans-serif;
    line-height: 45px;

}
.footer-bottom p span{
    color: #5bc5f4;
}

/*footer-part end*/
/*main-part start*/
/*main-part end*/
/*main-part start*/
/*main-part end*/
/*main-part start*/
/*main-part end*/
/*main-part start*/
/*main-part end*/























